<div class="settings-submenu">
  <div class="title-submenu">
    <img src="/assets/svg/submenu-navbar/configurations.svg" /><span
      >Settings</span
    >
  </div>

  <div class="div-control-status-role">
    
    

  </div>

  <a href="/user">
    <img src="/assets/svg/submenu-navbar/profile.svg" /> My profile
  </a>

  <a href="/update-password">
    <img src="/assets/svg/submenu-navbar/password-lock.svg" />Password
    Management
  </a>

  <button class="close-btn" (click)="toggleSettingsMenu()">X</button>
</div>
