<main>
    <div class="form-section">
        <div class="form-column-primary">
            <img src="/assets/svg/logo.png" alt="Logo"/>
            <h2>{{ title }}</h2>
            <div class="content-form">
                <ng-content></ng-content>
                <div class="btn-wrapper">
                    <div class="forgot-password">
                        
                        <span style="cursor:pointer;" (click)="openRecoveryPassword()">Forgot password?</span>
                        <div class="activate-account">
                        
                            <span style="cursor:pointer;" (click)="openRecoveryPassword()">Activate your account!</span>
                           
                        </div>
                    </div>

                
                    <button 
                        class="btn-primary" 
                        (click)="submit()"
                        [disabled]="disablePrimaryBtn"
                    >
                        {{ primaryBtnText }}
                    </button>
                    <button class="btn-secondary" (click)="navigate()">{{ secondaryBtnText }}</button>
                </div>
            </div>
        </div>
        
        <div class="form-column-secondary">
            <span class="quote">{{quotePage}}</span>
        </div>
    </div>

    <app-modal-recovery-password [isOpen]="isModalOpen" (onCloseModal)="closeModal()"></app-modal-recovery-password>


</main>
