<main>
  
    <div class="form-section">
      <div class="form-column-primary">
        
        <h2>{{ title }}</h2>
  
        <div class="content-form">
          <ng-content></ng-content>
  
          <div class="btn-wrapper">
            <button class="btn-primary" (click)="submit()" [disabled]="disablePrimaryBtn">
              {{ primaryBtnText }}
            </button>
            
          </div>
        </div>
      </div>
  s
      <div class="form-column-secondary">
        <h2>{{titleSecondary}}</h2>
        <p>{{subtitleSecondary}}</p>
  
        <button class="btn-secondary" (click)="navigate()">{{ secondaryBtnText }}</button>
  
        <div class="footer-secondary">
          <span>{{footerPage}}</span>
          <img src="/assets/svg/logowhite.png" alt="Logo" class="small-logo" />
        </div>
      </div>
    </div>
 
  </main>
  