<app-login-layout
    title="or use your email account to login"
    quotePage="With iWishly, your wishes become perfect gifts!"
    primaryBtnText="Login Now"
    secondaryBtnText="Signup Now"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!loginForm.valid"
>
<div class="container-notifications">
<div class="boxAlertClass" [ngClass]="boxAlertClass"><span>{{ messageAlert }}</span></div></div>
    <form [formGroup]="loginForm">
        <app-input
            formControlName="username"
            inputName="username"
            type="text"
            label="Username"
            placeholder="username or email"
        >
            <img src="/assets/svg/username.svg"/>
        </app-input>
        <app-input
            formControlName="password"
            inputName="password"
            type="password"
            label="Password"
        >
        <img src="/assets/svg/password-user.svg"/>
    </app-input>
    <span></span>
    </form>
   
</app-login-layout>