<app-modal-default
  [headerBackgroundColor]="'#8C52FF'"
  [headerTextColor]="'#FFF'"
  [closeTextColor]="'#FFF'"
  titleModal="User Registration Successfully!"
  srcIcon="/assets/svg/utils/success.svg"
  primaryMessageText=" The user with email {{ registeredEmail }} was
  registered in our system."
  secondaryMessageText="To obtain your access ID and password, check the inbox
  and spam folder of the email you used to register."
  [borderColorPrimaryBtn]="'1px solid #1E2772'"
  [colorTextPrimaryBtn]="'#1E2772'"
  primaryBtnText="cancel"
  secondaryBtnText=""
  (closeModal)="closeModal()"
  *ngIf="isOpen"
></app-modal-default>
